
<!-- <div class="w3-row">
    {% for row in img_row%}
    <div class="w3-third">
        {% for row in img_row%}
        <img src="{{ row.image }}" style="width:100%" onclick="onClick(this)" alt="{{ row.title }}">
        {%endfor}    
    </div>
    {%endfor}
</div> -->

<div class="w3-row">
    <div class="w3-third">
        <img src="cache/test.png" style="width:100%" onclick="onClick(this)" alt="hello">
        <img src="cache/test copy.png" style="width:100%" onclick="onClick(this)" alt="hello">
    </div>
</div>